%h2 Photos
= link_to "Add New Photo", new_admin_photo_path, :class => "small-button"
.section
  %table.datatable{"data-column-to-sort-by" => 3}
    %thead
      %tr
        %th Name
        %th Channels
        %th Tags
        %th Photo
        %th Image Size
        %th{"data-sort-type" => "date"} Last Updated
    %tbody
      - @photo.each do |photo|
        %tr
          %td= link_to photo.name, [:admin, photo]
          %td
            = photo.channels.collect { |channel| link_to channel.name.titleize, edit_admin_channel_path(channel) }.join(", ").html_safe
          %td
            = photo.tags.collect { |tag| link_to tag.name, edit_admin_tag_path(tag) }.join(", ").html_safe
          %td
            = image_tag (photo.main_image), :style => ("width: 100px;") if photo.main_image.present?
          %td
            = photo.image_size
          %td= photo.updated_at.try(:to_s, :admin_datetime)
