- tags = @channel.photos.collect {|x| x.tags.where(:hidden => false)}
.tag_names
  %ul#filters
    %li.about Filters:
    %li
      = link_to "all", "#", :"data-filter" => "*", :"data-rel" => "all", :class => "selected filter", :onClick => "_gaq.push(['_trackEvent', 'Tags', '#{@channel.name.titleize}', 'All']);"
    - tag_name = tags.flatten.collect {|x| x.name}.uniq
    - tag_name.sort_by {|x| x}.each do |name|
      %li
        = link_to name, "#", :"data-filter" => ".#{name.to_s.downcase.gsub(" ", "_")}", :"data-rel" => "#{name.to_s.downcase.gsub(" ", "_")}", :class => "filter", :onClick => "_gaq.push(['_trackEvent', 'Tags', '#{@channel.name.titleize}', '#{name.titleize}']);"