- tags = @channel.photos.collect {|x| x.tags.where(:hidden => false)}
.tag_names
  %ul#filters
    %li.about Filters:
    %li
      = link_to "all", "#", :"data-filter" => "*", :"data-rel" => "all", :class => "selected filter", :onClick => "_gaq.push(['_trackEvent', 'Tags', '#{@channel.name.titleize}', 'All']);"
    - tag_name = @channel.channel_tags.order('position asc')
    - tag_name.each do |tag|
      %li
        = link_to tag.name, "#", :"data-filter" => ".#{tag.name.to_s.downcase.gsub(" ", "_")}", :"data-rel" => "#{tag.name.to_s.downcase.gsub(" ", "_")}", :class => "filter", :onClick => "_gaq.push(['_trackEvent', 'Tags', '#{@channel.name.titleize}', '#{tag.name.titleize}']);"