= semantic_form_for [:admin, @tag] do |f|
  = f.inputs do
    = f.inputs :name, :required => true
    = f.inputs :hidden, :as => :check_box
  = f.buttons do
    = f.submit

= link_to "Cancel", admin_tags_path, :class => "small-button"