%h2 #{@channel.name.titleize} Channel

.section.titleized
  %h4 Landing Page
  .section-body
    %dl
      %dt Metadata title
      %dd= @channel.title
      %dt Metadata description
      %dd= @channel.description
      %dt Metadata keywords
      %dd= @channel.keywords

    %p
      %b
        Hidden:
      = @channel.hidden?

    - if @channel.channel_photos.present?
      %hr
      %p
        Number of Photos in this Channel:
        %b
          = @channel.photos.count
      %p Drag and drop to reorder.
      = link_to "Edit Channel", edit_admin_channel_path(@channel), :class => "small-button", :style => "float: right;"
      = button_tag "Submit Order", :class => "sort_submit small-button", :style => "float: right;"
      %ul.title
        %li
        %li Title
        %li Photo
        %li Image Size
      %ol#sortable{"data-update-url" => sort_admin_channel_photos_path(@channel)}
        - @channel.channel_photos.each do |cp|
          = content_tag_for :li, cp, :class => cycle("odd", "even") do
            %ul
              %li.ordering
                %span.handle [drag]
              %li
                = link_to cp.photo.name, edit_admin_photo_path(cp.photo)
              %li
                = image_tag (cp.photo.main_image), :style => ("width: 100px;") if cp.photo.main_image.present?
              %li
                = cp.photo.image_size
              %li
                .rightfloat.commands
                  = button_tag 'Top', :value => 'top'
                  = button_tag 'Up', :value => 'up'
                  = button_tag 'Down', :value => 'down'
                  = button_tag 'Bottom', :value => 'bottom'
                  = link_to "Remove", remove_content_admin_channel_photo_path(@channel, cp), :method => :put, :class => "small-button", :confirm => "Are you sure you want to delete this photo from this channel?"

    = button_tag "Submit Order", :class => "sort_submit small-button"
    = link_to "Edit Channel", edit_admin_channel_path(@channel), :class => "small-button"
    = button_to "Delete Channel", admin_channel_path(@channel), :method => :delete, :class => "small-button", :confirm => "Are you sure you want to delete this channel?"

