- content_for(:title) do
  %title= @bio.title
- content_for(:meta_keywords) do
  %meta{:name => "keywords", :content => @bio.keywords.try(:gsub,'"', '').try(:gsub,"'", "") }

- content_for(:meta_description) do
  %meta{:name => "description", :content => @bio.description.try(:gsub,'"', '').try(:gsub,"'", "") }

-#- if @channel_photos.present?
-#  - content_for(:facebook) do
-#    - photo = @featured_photo ? @featured_photo : @channel_photos.first.photo
-#    %meta{:property => "og:title", :content => photo.name}
-#    %meta{:property => "og:image", :content => photo.main_image.url}
-#    %meta{:property => "og:description", :content => photo.name}
-#    %meta{:property => "og:type", :content => "image"}
-#    %meta{:property => "og:url", :content => channel_photo_url(photo.channels.first, photo)}

-#- content_for(:tags_nav) do
-#  = render 'shared/tags'

%h2= @channel.name

#bio_container
  - @channel_photos.each do |cp|
    .bio_wrapper
      - if cp.photo.tags.present?
        = link_to image_tag(cp.photo.main_image.url), tag_path(cp.photo.tags.first), :class => "bio"
      - else
        = image_tag cp.photo.main_image.url
      .desc_wrap
        = cp.photo.description.html_safe
        - if cp.photo.tags.present?
          = link_to "Click to view #{cp.photo.tags.first.name.split(' ').map(&:capitalize).join(' ')} photos", tag_path(cp.photo.tags.first), :class => "bio"

