.nav
  .white
    .nav_wrapper
      .social
        %div{:class => "fb-like", :"data-href" => "http://www.ericisaac.com", :"data-width" => "450", :"data-layout" => "button_count", :"data-show-faces" => "false", :"data-send" => "false", :style => "margin-right: 5px;"}
        = link_to "Follow @ericisaac", "https://twitter.com/ericisaac", :class =>"twitter-follow-button", :"data-show-count" => "false", :"data-show-screen-name" => "false"
        %script
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      = link_to "<h1>eric isaac <span class='photo'>photographer</span></h1>".html_safe, root_url, :class => "logo"
      .info
        %p= Contact.first.phone
        %p
          - email = Contact.first.email
          = link_to email, "mailto:#{email}"
  .navigation
    %ul
      - visible_channels = Channel.all.select {|x| !x.hidden?}.sort_by {|x| x.created_at}
      -  visible_channels.each do |channel|
        %li{:class => @channel.present? && @channel.name == channel.name ? "selected":"" }
          = link_to channel.name, channel_path(channel), :class => channel.name.gsub(" ", "-"), :onClick => "_gaq.push(['_trackEvent', 'Channel', '#{channel.name.titleize}']);"
      %li{:class => @channel.present? && @channel.name == "bio" ? "selected":"" }
        = link_to "bio", site_bio_path, :onClick => "_gaq.push(['_trackEvent', 'Channel', 'Bio']);"
      %li
        = link_to "blog", "http://food.ericisaac.com/", :target => "_blank", :onClick => "_gaq.push(['_trackEvent', 'Channel', 'Blog']);"
  - if content_for?(:tags_nav)
    = content_for(:tags_nav)

