.nav
  .white
    .nav_wrapper
      .social
        %div{:class => "fb-like", :"data-href" => "http://www.ericisaac.com", :"data-width" => "450", :"data-layout" => "button_count", :"data-show-faces" => "false", :"data-send" => "false", :style => "margin-right: 5px;"}
        = link_to "Follow @ericisaac", "https://twitter.com/ericisaac", :class =>"twitter-follow-button", :"data-show-count" => "false", :"data-show-screen-name" => "false"
        %script
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      %h1
        = link_to "eric<span>isaac</span><br /><span class='photo'>photography</span>".html_safe, root_url
      .info
        %p= Contact.first.phone
        %p
          - email = Contact.first.email
          = link_to email, "mailto:#{email}"
  .navigation
    %ul
      - Channel.find_each do |channel|
        %li
          = link_to channel.name, channel_path(channel)
      %li
        = link_to "bio", bio_path
      %li
        = link_to "blog", "#"
  - unless controller.controller_name == "bio"
    .tag_names
      %ul
        - tags = @channel.photos.collect {|x| x.tags}.flatten
        - tag_name = tags.collect {|x| x.name}.uniq
        - tag_name.sort_by {|x| x}.each do |name|
          %li
            = link_to name, "#"
