!!!
%html
  %head
    %title Eric Isaac Admin
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "jquery-152.min.js"
    = javascript_include_tag "jquery-ui-1811.min.js"
    = javascript_include_tag "admin"
    = csrf_meta_tags
  %body{:class => "admin #{body_classes}" }
    .container
      %header#main_header
        = link_to "eric<span>isaac</span> photography admin".html_safe, admin_path
      .clear
      %aside#adminSide
        %nav
          %ul
            %li.first
              = link_to 'Channels',  admin_channels_path
              %ul
                - Channel.find_each do |channel|
                  %li
                    = link_to channel.name.titleize, admin_channel_path(channel)
            %li
              = link_to 'Photographs',  admin_photos_path
            %li
              = link_to 'Bio', admin_bios_path
            %li
              = link_to 'Contact',  admin_contacts_path
            %li
              = link_to 'Logout', sign_out_path
      .clear

      #flash
        %p.notice= notice
        %p.alert= alert

      %section{:id => @actionClass, :class => 'main_content'}
        = yield
